# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Dependencies
node_modules
vendor

# Build artifacts
public/hot
public/storage
public/build
storage/*.key
storage/logs/*
!storage/logs/.gitignore

# Testing
.phpunit.cache
coverage
.nyc_output

# Misc
*.log
*.cache
README.md
.editorconfig

